# Web Framework
fastapi
uvicorn[standard]
python-multipart
streamlit

# LangChain & Ecosystem
langchain
langchain-community
langchain-core
langchain-groq

# Vectorstore
pinecone-client==5.0.1

# Embeddings
langchain-google-genai

# PDF Parsing
PyPDF
numpy<2

# Environment Variables
python-dotenv

# Typing & Utilities
pydantic
requests
tqdm

# Authentication
pymongo[bson]
bcrypt
